// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.status-yellow {
    color: rgba(255, 217, 0, 0.863) !important;
    font-weight: bold;
}

.status-orange {
    color: orange !important;
    font-weight: bold;
}

.status-green {
    color: green !important;
    font-weight: bold;
}

.status-red {
    color: red !important;
    font-weight: bold;
}
